<!DOCTYPE html>
<html>
<head>
    <title>自动同步数据库管理</title>
    <#include "header.html">
</head>
<body>
<div class="nav nav-blue">
    <a class="nav-item" href="/">返回</a>
    <a onclick="location.href=location.href;" class="nav-item right" href="javascript:void(0)">刷新</a>
</div>
<div style="width: 60%;margin: 20px auto;font-size: 16px;">
    <h1 style="text-align: left">mysql 元数据手动维护</h1>

    <p style="padding: 5px 0"><h4>修改同步数据记录的字段id</h4></p>
    <p style="padding: 5px 0"><h4></h4></p>
    <div class="bg-blue-light pd-1">
        <div style="line-height: 1.4;overflow-wrap: break-word;word-wrap: break-word;white-space: pre-line;" class="card-box pd-1">该工具只能修改</div>
    </div>
</div>


<form enctype="multipart/form-data" action='' name='syncd_${table}' method="post" target='iframesyncd_${table}' id='syncd_${table}'>
    <input type="hidden" name="table" value="${table}" />
    <div style="width: 60%;margin: 20px auto;font-size: 16px;">
        <div class="msg msg-blue">表名: ${table}</div>
        <table class="table">
            <#if metadata??>
            <#list metadata as meta>
            <tr>
                <td>${meta["table"]} <input type="hidden" name="table[]" value='${meta["table"]}'></td>
                <td>
                    <div class="form-group mr-1">
                        <input name="sync_key[]" placeholder='索引字段名称' type="text" value='${meta["sync_key"]}'>
                    </div>
                </td>
                <td>
                    <div class="form-group mr-1">
                        <input name="sync_value[]" placeholder='索引字段名称' type="text" value='${meta["sync_value"]}'>
                    </div>
                </td>
                <td>${meta["synd_datetime"]}</td></td>
            </tr>
        </#list>
        </#if>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="button button-blue" type="submit">
                修改 ${table} 提交
            </button>
        </td>
    </tr>
    </table>
    <div class="msg msg-blue">返回信息 ${table}</div>
    <div style="padding: 10px 0">
        <iframe src="" width="100%" height="60" name='iframesyncd_${table}' frameborder="no" border="0" marginwidth="0"
                marginheight="0" scrolling="yes" allowtransparency="yes"></iframe>
        <!--<textarea rows="8">I'm lazy... zzZZzZz...</textarea>-->
    </div>

    </div>
    <input type="hidden" name="dosubmit" value="1" />
</form>

<#include "footer.html">
</body>
</html>